<div class="container">
  <%= @search %>
  <p>-You</p>
</div>

<div class="container">
  <%= @answer %>  
  <p>-Your Coach</p>
</div>

<div class="container">
  <%= link_to "Ask a new question", ask_path %>
</div>
